td{
  width: 2rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
  background: lightgreen;
  border-color: white;
}
body {
  padding: 1rem;
}
input{
    width: 2rem;
    height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
    background: lightgreen;
    border-color: white;
    font-size: 5px
    font_family: Helvetica
}